/*******************************/
/********* MENU CSS *********/
/*******************************/

.h3m 
{
    color: #454545;
    font-family: 'Nunito', sans-serif;
}

.amenu {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fbaf32;
    transition: .3s;
}
.containerom{
    width: 49%;
}
a.amenu:hover,
a.amenu:active,
a.amenu:focus {
    color: #719a0a;
    outline: none;
    text-decoration: none;
}




/*******************************/
/*********** Menu CSS **********/
/*******************************/
.menu {
    position: relative;
    padding: 45px 0 15px 0;
}

.menu .menu-tab {
    position: relative;
}

.menu .menu-tab img {
    max-width: 100%;
    border-radius: 15px;
}

.menu .menu-tab .nav.nav-pills .nav-link {
    color: #ffffff;
    background: #fbaf32;
    border-radius: 5px;
    margin: 0 5px;
}

.menu .menu-tab .nav.nav-pills .nav-link:hover,
.menu .menu-tab .nav.nav-pills .nav-link.active {
    color: #ffffff;
    background: #719a0a;
}

.menu .menu-tab .tab-content {
    padding: 30px 0 0 0;
    background: transparent;
}

.menu .menu-tab .tab-content .container {
    padding: 0;
}

.menu .menu-item {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu .menu-img {
    width: 80px;
    margin-right: 20px;
}

.menu .menu-img img {
    width: 100%;
    border-radius: 100px;
}

.menu .menu-text {
    width: calc(100% - 100px);
}

.menu .menu-text h3 {
    position: relative;
    display: block;
    font-size: 22px;
    font-weight: 700;
}

.menu .menu-text h3::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 13px;
    left: 0;
    border-top: 2px dotted #cccccc;
    z-index: -1;
}

.menu .menu-text h3 span {
    display: inline-block;
    float: left;
    padding-right: 5px;
    background: #ffffff;
}

.menu .menu-text h3 strong {
    display: inline-block;
    float: right;
    padding-left: 5px;
    color: #fbaf32;
    background: #ffffff;
}

.menu .menu-text p {
    position: relative;
    margin: 5px 0 0 0;
    float: left;
    display: block;
}

@media(max-width: 575.98px) {
    .menu .menu-text p,
    .menu .menu-text h3,
    .menu .menu-text h3 span,
    .menu .menu-text h3 strong {
        display: block;
        float: none;
        padding: 0;
        margin: 0;
    }
    
    .menu .menu-text h3 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .menu .menu-text h3 span {
        margin-bottom: 3px;
    }
    
    .menu .menu-text h3::after {
        display: none;
    }
}


